:root {
  --primary-color: #ffa929;
  --color-white: #fff;
  --color-black: rgb(46, 38, 24);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.3rem;
  min-height: 100vh;
  line-height: 1.6;
}

/* utility  */
.container {
  padding: 0 5%;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

p {
  color: var(--color-black);
}

.mb {
  margin-bottom: 4rem;
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* header  */
header {
  height: 10vh;
  display: flex;
}

.main-nav {
  width: 85%;
  background-color: var(--primary-color);
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav ul,
.sub-nav ul {
  list-style: none;
  display: flex;
}

.main-nav ul li a {
  text-transform: capitalize;
  padding-right: 2rem;
}

.logo {
  font-size: 1.5rem;
}

.sub-nav {
  width: 15%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sub-nav ul li a {
  color: var(--primary-color);
  padding-left: 1.5rem;
}

/* hero  */
.hero {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 1rem;
}

.hero-img {
  flex: 0 0 50%;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  margin-top: 4rem;
}

/* services  */
.description {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  text-align: center;
  margin-top: 4rem;
}

.card {
  margin-bottom: 2rem;
}

.card .icon img {
  width: 7rem;
  height: auto;
  margin-bottom: 3rem;
}

/* work  */
.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.work img {
  width: 100%;
  height: 100%;
}

/* contact  */
.contact-form form {
  width: 80%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.input50 {
  width: 50%;
  margin: 0 10px;
}

.input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--color-black);
  padding: 10px;
  outline: none;
  margin: 10px 0;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: 0;
  cursor: pointer;
}

@media (max-width: 950px) {
  .hero-img,
  .sub-nav {
    display: none;
  }

  .content {
    flex: 0 0 100%;
  }

  .main-nav {
    width: 100%;
  }

  .contact-form form {
    width: 100%;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input100,
  .contact-form .input50 {
    width: 100%;
  }
}
/*  to do list style */

::selection {
  color: #fff;
  background: #fa9017;
}
.wrapper {
  max-width: 405px;
  padding: 28px 0 30px;
  margin: 137px auto;
  background: rgb(255, 246, 205);
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(22, 22, 22, 0.1);
}
.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.task-input img {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid rgb(177, 177, 177);
}
.task-input input:focus,
.task-input input.active {
  padding-left: 52px;
  border: 2px solid #ffa929;
}
.task-input input::placeholder {
  color: #bfbfbf;
}
.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child {
  margin-left: 0;
}
.filters span.active {
  color: #ffa929;
}
.controls .clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: #ffa929;
}
.clear-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active {
  transform: scale(0.93);
}
.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.task-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar {
  width: 5px;
}
.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .task label {
  display: flex;
  align-items: flex-start;
}
.task label input {
  margin-top: 7px;
  accent-color: #ffa929;
}
.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked {
  text-decoration: line-through;
}
.task-box .settings {
  position: relative;
}
.settings :where(i, li) {
  cursor: pointer;
}
.settings .task-menu {
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu {
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show {
  transform: scale(1);
}
.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.settings li:hover {
  background: #f5f5f5;
}
.settings li i {
  padding-right: 8px;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span {
    margin: 0 5px;
  }
  .task-input {
    padding: 0 20px;
  }
  .controls {
    padding: 18px 20px;
  }
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input {
    margin-top: 4px;
  }
}
